*resharper.user
[Dd]ebug/
[Rr]elease/
build/
packages/
results/
artifacts/
logs/
[Bb]in/
[Oo]bj/
*DotSettings*
*.suo
.vs/
*.sln.cache
_ReSharper.*/
CommonAssemblyInfo.cs
*.user
Gemfile.lock
