*resharper.user
[Dd]ebug/
[Rr]elease/
build/
packages/
results/
.vs/
artifacts/
TestData/
logs/
[Bb]in/
[Oo]bj/
*DotSettings*
*.suo
*.sln.cache
_ReSharper.*/
CommonAssemblyInfo.cs
*.user
Gemfile.lock
.DS_Store
