<?xml version="1.0"?>
<ripple xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>Rhino.Queues</Name>
  <NugetSpecFolder>packaging</NugetSpecFolder>
  <SourceFolder />
  <BuildCommand>powershell </BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="http://build.fubu-project.org/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="ReleasedOnly" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" />
  </Feeds>
  <Nugets>
    <Dependency Name="7Zip.Sfx" Version="1.0.1" Mode="Fixed" />
    <Dependency Name="Common.Logging" Version="2.1.1" Mode="Fixed" />
    <Dependency Name="PowerThreading" Version="20120420.0" Mode="Fixed" />
    <Dependency Name="Rhino.ServiceBus.References" Version="3.1.1.0" Mode="Float" />
    <Dependency Name="RhinoMocks" Version="3.6.1" Mode="Float" />
    <Dependency Name="xunit" Version="1.9.1" Mode="Fixed" />
    <Dependency Name="xunit.runners" Version="1.9.1" Mode="Fixed" />
  </Nugets>
  <Groups />
  <Nuspecs />
</ripple>